*/target
*/*.iml
*/.idea

*/.classpath
*/.project
*/.settings
*/src/test

*.iml
.settings
.project
modifiche nfvo driver
NFVO_CATALOGUE_SPECIFIC_DRIVERS/src/main/java/it/nextworks/nfvmano/nfvodriver/osm/OsmClientTest.java
